@using Microsoft.AspNetCore.Http
@using Formazione.Data;
@inject IHttpContextAccessor Accessor
 


                        

<!DOCTYPE html>
<html lang="it-it">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASL CASERTA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Formazione.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Asl Logo.png" alt="Logo ASL CASERTA" class="navbar-logo"><img />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if ((@Accessor.HttpContext.Session.GetString("UserName") != null && @Accessor.HttpContext.Session.GetRuoloUtenteLoggato() == TipologiaUtente.Datore_Lavoro))
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ProgettoFormativo" asp-action="IndexDatore">Progetti</a>
                            </li>


                        }
                            @if (@Accessor.HttpContext.Session.GetString("UserName") != null && @Accessor.HttpContext.Session.GetRuoloUtenteLoggato() != TipologiaUtente.Datore_Lavoro)
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProgettoFormativo" asp-action="Index">Progetti</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EdizioneCorsoes" asp-action="Index">Edizioni</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Modulo" asp-action="Index">Moduli</a>
                                </li>
                            }

                            @if (@Accessor.HttpContext.Session.GetString("UserName") != null && @Accessor.HttpContext.Session.GetRuoloUtenteLoggato() == TipologiaUtente.Admin)
                            {
                                <li class="nav-item dropdown">

                                    <a class="nav-link text-dark disabled" asp-area="">Gestione</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCorso" asp-action="Index">Corsi</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="DocenteTutors" asp-action="Index">Docenti Tutor</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Utente" asp-action="Index">Utenti</a>
                                        </li>


                                    </ul>


                                </li>

                            }



                        </ul>
                    </div>
                </div>

                <div class="userbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">

                            <a class="nav-link text-dark"> <i class="fa-solid fa-user fa-xs"> </i> @Accessor.HttpContext.Session.GetRuoloUtenteLoggato() </a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Utente" asp-action="Logout">Logout</a>
                                </li>



                            </ul>
                        </li>


                    </ul>
                </div>



            </nav>




        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/c64299cedb.js" crossorigin="anonymous"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
