@model Formazione.Models.Utente

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";

}

<h1>Details</h1>

<div>
    <h4>Utente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ruolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ruolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unitaprodAbilitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unitaprodAbilitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eliminato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eliminato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataorains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataorains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDutenteins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDutenteins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataoraultmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataoraultmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDutenteultmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDutenteultmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDutenteultcanc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDutenteultcanc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataoraultcanc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataoraultcanc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary" style="background-color: red;" asp-route-id="@Model?.utente_id">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary" style="background-color: blue;">Ritorna alla lista degli Utenti</a>
</div>
