@model IEnumerable<Formazione.Models.DocenteTutor>

@{
    ViewData["Title"] = "Home Docenti Tutor";
    Layout = "_Layout";

}

<h1 class="Titolo">Lista Docenti Tutor</h1>

<h3 class="Titolo3">
    Aggiungi un nuovo Docente
    <a asp-action="Create" id="ListaDocenti">
        <i class="fa-regular fa-plus fa-beat fa-xl" style="color: #32CD32"></i>
    </a>
</h3>
    <style>

        #ListaDocenti {
        border-block: 30px;
        text-decoration: none;
        color: black;
        }

        .Titolo{
                font-family: serif; 
                text-shadow: 1px 1px black; 
        }
        .table td, .table th{
            padding: 2px;
        }

        .container {
        position: relative;
        width: 100%;
        }

    </style>
    <div class="container text-center">
        <table class="table table-bordered table-striped" id="pagination" style="max-width:100%">
        <thead class="thead-dark text-black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualifica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cellulare)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Qualifica)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Tipologia)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
                  
            <td>
                @Html.DisplayFor(modelItem => item.CF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellulare)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocenteTutorID" class="action-button"><i class="fa-regular fa-pen-to-square" style="color: #0433ff;" title="Modifica"></i></a>
                <a asp-action="Details" asp-route-id="@item.DocenteTutorID" class="action-button"><i class="fa-regular fa-circle-info" style="color: #96d35f;" title="Dettagli"></i></a>
                <a asp-action="Delete" asp-route-id="@item.DocenteTutorID" class="action-button"><i class="fa-regular fa-trash-can" style="color: #ff2600;" title="Elimina"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
